@page
@model FinalProject.Pages.Auth.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Auth</h1>

<p>
    <a asp-page="Register">Register</a>
    <a asp-page="Login">Login</a>
</p>

